body {
  background:#0f0f0f;
  color:#fff;
  font-family:Arial, sans-serif;
  margin:0;
}

.container {
  padding:20px;
}

.card {
  background:#1c1c1c;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
}

button {
  margin-top:10px;
  padding:8px;
  background:#ff3c00;
  color:white;
  border:none;
  border-radius:5px;
}
